<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="myBinding" maxBufferPoolSize="3921600" maxReceivedMessageSize="3921600" openTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00"/>
        <binding name="BasicHttpBinding_IMandelbrotCalc" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/MandelbrotCalcService1/MandelbrotCalcService"
        binding="basicHttpBinding" bindingConfiguration="myBinding"
        contract="MandelbrotCalcServiceReference.IMandelbrotCalc" name="server1" />
      <endpoint address="http://localhost:8000/MandelbrotCalcService2/MandelbrotCalcService"
        binding="basicHttpBinding" bindingConfiguration="myBinding"
        contract="MandelbrotCalcServiceReference.IMandelbrotCalc" name="server2" />
      <endpoint address="http://localhost:8000/MandelbrotCalcService3/MandelbrotCalcService"
        binding="basicHttpBinding" bindingConfiguration="myBinding"
        contract="MandelbrotCalcServiceReference.IMandelbrotCalc" name="server3" />
      <endpoint address="http://localhost:8000/MandelbrotCalcService4/MandelbrotCalcService"
        binding="basicHttpBinding" bindingConfiguration="myBinding"
        contract="MandelbrotCalcServiceReference.IMandelbrotCalc" name="server4" />
      <endpoint address="http://localhost:8000/MandelbrotCalcService5/MandelbrotCalcService"
        binding="basicHttpBinding" bindingConfiguration="myBinding"
        contract="MandelbrotCalcServiceReference.IMandelbrotCalc" name="server5" />
      <endpoint address="http://localhost:8000/MandelbrotCalcService6/MandelbrotCalcService"
        binding="basicHttpBinding" bindingConfiguration="myBinding"
        contract="MandelbrotCalcServiceReference.IMandelbrotCalc" name="server6" />

    </client>
  </system.serviceModel>
</configuration>